body {
  font: 24px "consolas", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  border-bottom: 0.1em solid #000;
  font-size: 20px;
  margin-bottom: 3em;
  margin-left: 1em;
}

.square {
  background: #9e9cf4;
  border: 2px solid #000;
  float: left;
  font-size: 44px;
  font-weight: bold;
  height: 94px;
  line-height: 94px;
  margin-top: -1px;
  text-align: center;
  width: 94px;
}

.square:focus {
  outline: none;
}

.stepButton {
    background-color: #bde96b;
    font: 18px "consolas";
}
.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  margin-left: 1em;
}

.game-info {
  margin-left: 20px;
}
